{% extends "BCRMWebBundle::page.html.twig" %}
{% block visual %}
<div class="visual"></div>
{% endblock visual %}
{% block content %}
        {{ page.content|raw }}
    
        {% if nextEvent is defined %}
        <p class="text-center">
            <a href="{{ path('bcrmweb_event_register') }}" class="button">Jetzt Registrieren!</a><br>
        </p>
        <p class="text-center small">
            Wenn Du doch nicht kannst,<br><a href="{{ path('bcrmweb_event_unregister') }}">klicke hier um deine Anmeldung zu stornieren</a>.
        </p>
        {% endif %}
        <h2>Newsletter</h2>
        <p>Hier kannst Du dich zu unserem Newsletter anmelden.</p>
        <form method="post" action="http://barcamp-rheinmain.us7.list-manage1.com/subscribe/post?u=3e2aa6cc97e55872fc5afdb6a&amp;id=c17b34c8ab" class="form-infomail">
            <fieldset class="input-with-button">
                <label for="email">E-Mail</label>
                <input type="email" required placeholder="Schickt mir ne Mail, wenn sich was tut." tabindex="1" size="20" value="" id="email" name="EMAIL">
                <button type="submit" tabindex="100" class="button" name="submit"><span>Absenden</span></button>
            </fieldset>
            <fieldset>
                <label class="checkbox">
                    <input type="checkbox" tabindex="20" value="Ja" id="futurebarcamps" name="MMERGE1">
                    <span></span>
                    Informiert mich auch über zukünftige BarCamps
                </label>
            </fieldset>
        </form>
{% endblock content %}
{% block javascript %}
    {{ parent() }}
    {% javascripts filter="yui_js"
    "bundles/bcrmweb/js/slider.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}
