{% extends "BCRMWebBundle::page.html.twig" %}
{% block content %}
    <h2>Registrierung bezahlen</h2>

    <p>
        Vielen Dank, du hast es fast geschafft.
    </p>

    {% if registration.paymentMethod == "paypal" %}
        <p>
            Klicke nun auf den folgende Button um den ausstehenden Betrag mit Paypal zu begleichen.
        </p>
        {% set text %}{% spaceless %}{{ event.name }} Ticket {{ registration.name }} ({% if days == 2 %}beide Tage{% elseif registration.getSaturday() %}Sonntag{% else %}Samstag{% endif %}){% endspaceless %}{% endset %}
        <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant={{ paypal_merchant_id }}"
                data-button="buynow"
                data-name="{{ text }}"
                data-quantity="{% if registration.days == 3 %}2{% else %}1{% endif %}"
                data-amount="{{ (total / 100)|number_format(2, '.') }}"
                data-currency="EUR"
                data-shipping="0"
                data-tax="0"
                data-locale="de"
                data-lc="de_DE"
                data-size="small"
                data-number="{{ registration.uuid }}"
                data-callback="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('bcrmweb_registration_paypal') }}"
                {% if paypal_sandbox %}
                data-env="sandbox"
                {% endif %}
                ></script>
    {% else %}
        {{ registration.paymentMethod }}
    {% endif %}

    {%  if partialOrder %}
        <h3>Achtung!</h3>

        <p>
            Du hast für Samstag <em>und</em> Sonntag reserviert.
            Leider sind nicht genug freie Tickets vorhanden!
            Leider kannst Du jetzt nur dein Ticket für <strong>{% if tickets[0].isSaturday() %}Samstag{% else %}Sonntag{% endif %}</strong> kaufen.
        </p>

        <p>
            Sobald ein Ticket für {% if tickets[0].isSunday() %}Samstag{% else %}Sonntag{% endif %} für dich frei wird,
            erhältst Du eine E-Mail und kannst dieses dann auch bezahlen.
        </p>
    {% endif %}
{% endblock content %}
