{% extends "BCRMWebBundle::page.html.twig" %}
{% form_theme form "BCRMWebBundle:Form:custom.html.twig" %}
{% block content %}
    {{ content.content|replace({"%%event%%": event.name, "%%pricePerDay%%": pricePerDayFormatted})|raw }}
    {{ form_start(form) }}
    <fieldset>
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        {{ form_row(form.twitter) }}
        {{ form_row(form.tags) }}
    </fieldset>
    <fieldset>
        {{ form_row(form.days) }}
        <p>
            <small>Den exakten Betrag zeigen wir dir auf der nächste Seite nocheinmal zur Kontrolle an.</small>
        </p>
        {{ form_row(form.donationEur) }}
        <p>
            <small>Du kannst hier direkt einen Betrag zusätzlich als freiwillige Spende eingeben.
                Beachte, dass auch von diesem Betrag die jeweilige Gebühr abgezogen wird.</small>
        </p>
        {{ form_row(form.payment) }}
    </fieldset>
    <fieldset>
        {{ form_row(form.food) }}
        {{ form_row(form.arrival) }}
        {{ form_row(form.participantList) }}
    </fieldset>
    <fieldset>
        {{ form_rest(form) }}
    </fieldset>
    {{ form_end(form) }}
{% endblock content %}
