{% extends "BCRMWebBundle::page.html.twig" %}
{% form_theme form "BCRMWebBundle:Form:custom.html.twig" %}
{% block content %}
    <h2>Anmeldung</h2>
    <p>Du möchtest am nächsten BarCamp teilnehmen? Reserviere hier deinen Platz!</p>
    {{ form_start(form) }}
    <fieldset>
        {{ form_row(form.email) }}
        {{ form_row(form.name) }}
        {{ form_row(form.twitter) }}
        {{ form_row(form.tags) }}
    </fieldset>
    <fieldset>
        {{ form_row(form.days) }}
        {{ form_row(form.food) }}
        {{ form_row(form.arrival) }}
        {{ form_row(form.participantList) }}
    </fieldset>
    <fieldset>
        {{ form_rest(form) }}
    </fieldset>
    {{ form_end(form) }}
{% endblock content %}
