<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Checkin</title>
    <meta name="viewport" content="width=device-width">
    
    {% stylesheets filter="yui_css,cssrewrite"
    "bundles/bcrmweb/vendor/h5bp/normalize.css"
    "bundles/bcrmweb/vendor/h5bp/main.css"
    "bundles/bcrmweb/css/checkin.scss"
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}

    <link rel="shortcut icon" href="/favicon.ico?{{ assets_version }}" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png?{{ assets_version }}" />
</head>
<body>
    <h1>{{ ticket.name }}{% if ticket.label %}<br>({{ ticket.label }}){% endif %}</h1>
    {% if registration.donation > 0 %}<h2>**SPENDER**</h2>{% endif %}
    <dl>
        <dt>Tag</dt>
        <dd>{% if ticket.day == 1 %}Samstag{% else %}Sonntag{% endif %}</dd>
        <dt>Code</dt>
        <dd><code>{{ ticket.code }}</code></dd>
    </dl>
</body>
</html>
